# Konfigurasi Port Akses WordPress (Pilih port yang belum dipakai, misal: 8085, 8088, 8099)
WP_PORT=8088

# Konfigurasi Database
DB_NAME=snaprint_db
DB_USER=snaprint_user
DB_PASSWORD=GantiPasswordKuatIni2026!
DB_ROOT_PASSWORD=GantiRootPasswordKuatIni2026!
